* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

body,
html {
  font-size: 62.5%;
}

:root {
  --Primary-text: #fff;
}

/* section navbar */
.navbar {
  width: 100%;
  height: 5rem;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  padding: 2rem;
  z-index: 10;
}

.navbar.change {
  height: 100vh;
}

.nav-lists {
  display: none;
}

.change .nav-lists {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-link {
  margin: 1rem 0;
  font-size: 4rem;
  font-weight: 300;
  color: #fff;
  transition: all 0.5s;
}

.change .nav-link:hover {
  transform: scale(1.1);
  color: red;
}

.logo {
  position: absolute;
  top: 1rem;
}

.logo a {
  font-size: 2rem;
  font-weight: 500;
  color: var(--Primary-text);
  letter-spacing: 0.3rem;
}

.logo span {
  font-size: 2rem;
  font-weight: 700;
  color: red;
}

.menu {
  width: 4rem;
  height: 4rem;
  position: fixed;
  top: 0;
  right: 2rem;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 0.2rem;
  background-color: #eee;
}

.line-1 {
  width: 50%;
}

.line-3 {
  width: 50%;
  margin-left: auto;
}

/* End of section navbar */

.container {
  background-image: url('https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1500&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.banner {
  width: 80rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.9);
}

.headder {
  margin-bottom: 2rem;
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  color: #fff;
}

.banner p {
  font-size: 2rem;
  font-weight: 100;
  padding: 2rem;
  color: #fff;
}
